body {
  padding: 1px;
}

.bank output {
  display: block;
  border: 1px solid #4d4d4d;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 10px 0 24px;
  min-height: 34px;
  width: 100%;
  box-sizing: border-box;
}
.bank output span + span {
  margin-left: 8px;
}
